PORT=3001
NODE_ENV=development
SESSION_SECRET=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vetfinder
DB_USER=postgres
DB_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CARPETA=vetfinder/mascotas
